body {
    margin: 0;
    background-color: black;
    color: white;
    flex-wrap: wrap;
}
#login-container{
    box-sizing: border-box;
    background-color: mediumpurple;
    height: 192px;
    width: 50%;
    margin:auto;
    text-align: center;
}
#username,#password{
    display: block;
    margin: auto;
}