body {
    margin: 0;
    background-color: black;
    color: white;
    flex-wrap: wrap;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    position: fixed;
    top:0;
    width: 1920px;
    flex-wrap: wrap;
    z-index: 1;
}
header h1{
    margin: 0;
}
header ul{
    display: flex;
     list-style: none;
}
header ul li{
     margin: 0 100px;
 }
li a{
     background-color: white;
     color:black;
     border: 2px solid black;
     padding: 5px 50px;
     text-decoration: none;
 }
li a:hover,a.active{
     background-color: black;
     border: 2px solid purple;
     color:mediumpurple;
 }
section img{
     display: block;
     height:162px;
     width: 1920px;
     margin:0;
     background-color: red;
 }

main{
    position: absolute;
    top:212px;
    margin: 0;
    padding: 0;
}


